*{
	margin: 0;
	padding: 0;
	font-family: 'Quicksand';
	font-weight: normal;
}
body {
	width: 1300px;
	margin: auto;
	background-color: white;
	position: relative;
	min-width: 320px;
}

html{
	background-color: #eee;
}
input[type="submit"]{
	cursor: pointer;
}


/*PARTIE SLIDER*/
#slider {
	position: relative;
	height: 150px;
	overflow: hidden;
}

.slideshow-container {
	max-width: 100%;
	margin: auto;
}

/* Hide the images by default */
.mySlides {
	display: none;
	overflow: hidden;
	position: relative;
	top: -25%;
}


/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */

#dots{
	text-align:right;
	position: absolute;
	bottom: 0;
	right: 0;

}
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

.slide{
	position: relative;
	top:-125px;
}

/* Style the header */

/* Page content */

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
	width: 1300px;
	z-index: 15;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

#header{
	position: relative;
	width: 100%;
}

h4{
	font-size: 2.5em;
	;
	font-variant: small-caps;
	color: #010620;
	padding-left: 90px;
	margin-bottom: 20px;
}
h3{
	font-size: 2.5em;
	;
	font-variant: small-caps;
	color: #010620;
	margin-bottom: 20px;
}
/*Partie Menu*/
.wrapperMenu{
	width: 100%;
	text-align: center;
	background-color: #010620;
	position: relative;
}

#logos{
	position: absolute;
	bottom: -30px;
	right: 10px;
	z-index: 1;
}

.logo{
	width: 25px;
	height: 25px;
}

.wrapperMenu ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	height: 60px;
	width:80%;
	margin: auto;
}
#top-nav-placeholder{
	display: none;
	height: 60px;
}

#menu_placeHolder{
	width: 100%;
	height: 1000px;
	z-index: 2;
	background-color: rgba(5,5,5,0.8);
	color:transparent;
	position: absolute;
	top:50px;
	left: 0;
	display: none;
}

.menu li{
	font-size: 1.5em;
	margin: 15px;
	font-weight: 300;
}

.menu a{
	border-bottom: 3px solid #010620 ;
	width: 15%;
	text-align: center;
}



.menu a:hover{
	border-bottom: 3px solid white ;
}


#titreSite{
	position: absolute;
	bottom: 15px;
	font-size: 350%;
	left: 30%;
	text-shadow: 1px 1px black;
	color: white;
	font-weight: 300;
}
#titreSiteAlternatif{
	display: none;
	width: 100%;
	font-size: 0.9em;
	border-bottom: none !important;
}
.menu a{
	color: white;
	text-decoration: none;
}

#content{
	padding-bottom: 150px;
	padding-top:25px;
	padding-left: 12px;
	width: 90%;
	margin: auto;
	position: relative;
	overflow: hidden;
}

/*Partie footer*/
.footer{
	display: flex;
	flex-direction: column;
	color: white;
	background-color: #010620;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.footer p{
	text-align: center;
	padding: 10px;
}

.footer p:first-child{
	border-bottom: 1px solid white;
}


.footer a{
	text-decoration: none;
	color: white;
	padding: 10px;
}

.footer a:hover{
	text-decoration: underline;
}

/*Partie chatBox*/
#messages{
	width: 70%;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 10px;
	height: 200px;
	border: 2px solid #010620;
}

#message{
	width: 70%;
	margin: auto;
}
#message input[type="text"]{
	width: 89%;
	padding: 7px;
	border-radius: 3px;
	border: 1px solid #010620;
}

#message input[type="submit"]{
	width: 10%;
	text-decoration: none;
	border: none;
	color: white;
	background-color: #010620;
	padding: 5px;
	font-size: 1.3em;
	border-radius: 3px;
	margin: auto;
	position: relative;
	top:2px;

}

/*partie barre de recherche*/
#searchbar{
	width: 100%;
	margin: auto;
	padding-top: 40px;
	padding-bottom: 40px;
}

.searchbar-help{
	text-align: center;
	font-size: 3em;
	color: #010620;
	word-break: keep-all;
	width: 70%;
	padding-bottom: 10px;
	margin: auto;
}

#searchbar form{
	display: flex;
	flex-direction: column;
	text-align: center;
}

#searchbar form input[type="text"]{
	max-width: 90%;
	min-width: 50%;
	margin: auto;
	font-size: 1.2em;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #010620;
}

#searchbar form input[type="submit"]{
	text-decoration: none;
	border: none;
	color: white;
	background-color: #010620;
	width: 230px;
	padding: 10px;
	font-size: 1.3em;
	border-radius: 3px;
	margin: auto;
	margin-top: 15px;
}

input[type="submit"],.radioboutonLangue{
	font-weight: 400;
	margin-top: 15px;
}

input[type="submit"]:not(.page):hover,.discardLink:hover{
	background-color: #212640 !important;
	text-decoration: none !important;
}

/*Partie side pan*/

#sidePan{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	float: right;
	width: 17%;
	min-height: 500px;
	margin-right: 25px;
	box-sizing: border-box;
}
#sidePan legend{
	cursor: pointer;
	font-weight: bold;
}
#sidePan legend:hover{
	text-decoration: underline;
}

#sidePan form span{
	font-weight: bold;
	margin-bottom: 2px;
}
#modeDeVue{
	display: block;
	margin:auto;
	text-align: center;
}
#modeDeVue input{
	margin: 5px !important;
}
#modeDeVue input:hover{
	background-color: transparent !important;
	transform: scale(1.2);
}
.typeVue{
	width: 40px !important;
	height: 40px;
	margin: 0 !important;
	background: none !important;
	background-repeat: no-repeat !important;
}

#mosaic{
	background-image: url(../images/mosaic.png) !important;
}

#list{
	background-image: url(../images/list.png) !important;
}

.sidePanElem{
	border: 2px solid #010620;
	padding: 10px;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.sidePanElem legend{
	padding: 10px;
}
.sidePanElem input[type="submit"]{
	width: 90%;
}

#adminPanel{
	width:100%;
	text-align: center;
}
#adminPanel *{
	width: 90%;
}
.filterBtn{
	width: 90%;
	margin: auto;
	margin-top: 2px;
	padding: 2px;
	border: none;
	background-color: #010620;
	color: white;
	border-radius: 3px;
	font-size: 0.8em;
}

.filterBtn:hover{
	background-color: #212640;
}

/*Partie Accueil*/
.hex0, .hex1, .hex2{
	transform: rotate(0) !important;
}

.hex0{

}

.hex1{

}

.hex2{

}

.histoLink{
	text-decoration: none;
	color: #010620;
	padding: 5px;
	display: flex;
	align-items: center;
	transition: padding-left ease-in-out 0.2s;
	-moz-transition: padding-left ease-in-out 0.2s;
	-webkit-transition: padding-left ease-in-out 0.2s;
	-o-transition: padding-left ease-in-out 0.2s;
}

.histoLink a{
	text-decoration: none;
	color: inherit;
	padding-left: 10px;
}

span.histoLink{
	padding: 5px;
	display: flex;
	align-items: center;
	position: relative;
	border-bottom: 1px solid #100620;
}

span.histoLink:last-of-type{
	border-bottom: none;
}


a.histoLink:hover{
	text-decoration: underline;
	margin-left: 10px;
}

span.histoLink:hover{
	background-color: #C1C6E0;
	padding-left: 10px;
}


/*Partie affichage Message*/
#messageWrapper{
	width: 77%;
	padding: 50px;
}
.link{
	text-decoration: none;
	color: #010620;
}

.link:hover{
	text-decoration: underline;
}


/*Partie plantes*/


select{
	width: 100%;
	margin-bottom: 10px;
}


.pages{
	display: flex;
	justify-content: center;
	clear: both;
	width: 85%;

}


.page{
	box-sizing: border-box;
	margin: 5px;
	padding: 2px;
	background: none;
	border: none;
	cursor: pointer;

}



.miniatures{
	display: flex;
	flex-flow: wrap;
	width: 77%;
}

.micro{
	height: 30px;
}

.miniatureListe{
	width: 70px;
}

table{
		border-collapse: collapse;
}
td,th	{
	border: 1px solid #010620;
	text-align: center;
	word-break: keep-all;
	width:60px
}
td a{
	text-decoration: none;
	color: #010620;
	position: relative;
}

td a:hover{
	text-decoration: underline;
}

th{
	border: 1px solid white;
	background-color: #010620;
	color: white;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}
#tableWrapper{
	overflow-x: scroll;
	width: 920px;
}
td p{
	padding: 0 20px 0 20px;
}
.miniatures a{
		text-decoration: none;
}


.wrapperMiniature {
	height: 160px;
	width: 160px;
	background-size: cover;
	position: relative;
	overflow: hidden;
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.content{
	width: 100%;
	font-size: 0.8em;
	height: 40px;
	text-align: center;
	margin: 0;
	overflow: hidden;
	z-index: 2;
	position: relative;

}

.content .text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: #010620dd;
	height: 100%;

}

.text p{
	color: white;
	font-size: 0.7em;
}

.text p:first-of-type{
		font-size: 1.2em;
}
.wrapperMiniature:hover{
	transition: all 0.2s ease-in-out;
	transform: scale(1.2);
	z-index: 10;
}

.page{
	text-decoration: none;
	color: #010620;
	font-weight: 400;
	font-size: 1.1em;
}

.page:hover{
	font-weight: 600;
}


/*partie plante détaillé*/

#ficheDetail{
	padding: 25px;
	margin: auto;
	width: 70%;
	margin-bottom: 20px;
	float: left;
	position: relative;
}


.hexagon {
  position: relative;
  width: 200px;
  height: 115.47px;
  margin: 57.74px 0;
	margin-right: 90px;
  background-size: auto 230.9401px;
  background-position: center;
}




.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 141.42px;
  height: 141.42px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 29.29px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 200.0000px;
  height: 115.47005383792516px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-57.7350px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-57.7350px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-57.7350px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -70.7107px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -70.7107px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 200.0000px;
  height: 115.4701px;
  z-index: 2;
  background: inherit;
}
#ficheDetail legend{
	width: 90%;
}
/*
#firstElem{
	flex-basis: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}


*/
.legend{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 50px;
	width: 90%;
	position: relative;
}

.Nomsplante{
	color: #010620;
	float: right;

}
.NomsPlante *{
	text-align: right;
		word-break: keep-all;
}
.Nomsplante h3{
	font-style: italic;
	text-align: right;
	font-size: 1.2em;
	margin-bottom: 0;
}

.Nomsplante h3:first-of-type{
	font-size: 1.5em;
}

.caracs{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


	.caracs div:not(.hexagone2){
		text-align: center;
	}

.caracDescri{
	font-variant: small-caps;
	font-size: 2em;
	margin-bottom: 10px;
	width: 100%;
	padding-left: 0px;
}

.resum{
	text-align: justify;
	text-indent: 50px;
}

.plantBtn{
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.plantBtn{
	position: relative;
	width: 40%;
	margin-top: 20px;
}
.usrPlantBtn form, .adminPlantBtn form{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.plantBtn input{
	font-size: 1.2em !important;
	width: 40%;
}
#firstElem{
	display: flex;
	justify-content: center;
}

#firstElem .hexagone2{

	background-color: orange;
}

.hexagone2 {
	position: relative;
  width: 100px;
  height: 57.74px;
  background-color: #ffec70;
  margin: 50.87px 50px;
  border-left: solid 2px #050037;
  border-right: solid 2px #050037;
	display: flex;
	flex-direction: column;
	z-index: 1;
}

.value{
	margin: auto;
	font-size: 1.7em;
	word-break: break-all;
	z-index: 5;
}

.caracs .small{
	font-size: 1em !important;
}



.hexagone2:before,
.hexagone2:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 70.71px;
  height: 70.71px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 13px;
}

.hexagone2:before {
  top: -37px;
	border-top: solid 2.8284px #050037;
   border-right: solid 2.8284px #050037;
}

.hexagone2:after {
  bottom: -37px;
	border-bottom: solid 2.8284px #050037;
  border-left: solid 2.8284px #050037;
}

.leg{
	color: #010620;
	font-weight: bold;
	margin: auto;
	text-align: center;
	font-size: 0.8em;
	z-index: 5;
	width: 90%;
	margin-bottom: 0;
}

.value, .leg{
	position: relative;
	top:3px;
}


/*Partie connexion*/

.form{
  display: flex;
  flex-direction: column;
	justify-content: flex-start;
  width:500px;
	max-width: 90%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.form p a{
	color: #010620;
	text-decoration: none;

}

.form p a:hover{
	text-decoration: underline;
}

.description{
	resize: none;
	height: 150px;
	font-size: 0.9em;
}

.txtConnection{
  border: 1px #010620 solid !important;
  padding: 5px;
  font-size: 1.3em;
  height: 35px;
  margin: 7px;
}

#lienCond, #lienCond a{
	color: #010620;
	text-decoration: none;
}

#lienCond a:hover{
	text-decoration: underline;
}

input[type="submit"]:not(.page),input[type="button"],.discardLink{
  font-weight: 200;
  font-size: 1.5em;
  background: none;
  background-color: #010620;
  color: white;
  border: none;
  padding: 5px;
  margin: 7px;
  border-radius: 3px;
}

.discardLink{
	text-decoration: none;
}

.errorMsg,.successMsg{
	text-align: center;
  position: relative;
  left: 5px;
  margin: 2px;
	font-weight: bold;
}

.errorMsg{
  color:#A50000;
}
.successMsg{
	  color:#008000;
		width: 70%;
}
/*Partie Compte*/

.compteSection{
	width: 90%;
	margin: auto;
	font-variant: small-caps;
}
.compteSection a:not(.histoLink):not(.discardLink){
	text-decoration: none;
	color: #010620;


	font-weight: bold;
	font-variant: small-caps;
	width: 90%;
	position: relative;
	padding: 5px;
	border-bottom: 1px solid gray;
	font-size: 1.3em;
}
.compteSection .compteSection{
	width: 100%;
	position: relative;
	left:10px;
	font-size: 0.8em;
	font-variant: normal;
}
.compteSection a:hover{
	text-decoration: underline;
}
.compteSection a:last-child{
	border-bottom: none;
}

.compteSection section{
	display: none;
}
.compteSection form input{
	font-size: 1em !important;
}

.compteSection .discardLink{
	font-size: 1em !important;
}



#shareForm{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
#sharelist{
	width: 300px;
}
section{
	margin: 15px;
}
section form label{
	width: 200px;
	display: inline-block;
}
section input[type="submit"] :not(.bigButton){
	font-size: 0.8em;
	height: 20px;
	width: 75px;
}

.menuBoutons{
	width: 75%;
	height: 25px;
	position: relative;
}

.boutons {
	position: absolute;
	right: 0;
}
.boutons button{
	background-color: #010620;
	border: none;
	color:white;
	padding: 5px;
	font-variant: inherit;
	outline: none;
	cursor: pointer;
	border-radius: 3px;
}

.boutons button:hover{
	background-color: #212640;
}

.titre{
	display: flex;
	flex-direction: row;

	color: #010620;
	font-weight: bold;
	font-variant: inherit;
	width: 90%;
	position: relative;
	padding: 5px;
	border-bottom: 1px solid gray;
	font-size: 1.3em;
	cursor: pointer;
}

.titre div{
	position: absolute;
	right: 0;
	color: inherit;
	font-weight: inherit;
	transform: rotate(0deg);
}

label{
	text-align: left;
	color: #010620;
	;
	font-size: 1.2em;
}

/*Partie inscription*/
.wrapperContent{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.g-recaptcha{
	margin: auto;
	margin-top:20px;
	margin-bottom:20px;
}

.plantesAccueil{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 50px;
	width: 80%;
	margin: auto;
}

.planteAccueil{
		width: 30%;
		position: relative;
		display: flex;
		flex-direction: column;
		cursor: pointer;

}

.planteAccueil div:not(.hexagone2){
	border: 2px solid #010620;
	height: 320px;
	border-top: none;
	position: relative;
	display: flex;
	flex-direction: column;
}


.planteAccueil div p{
	height: 50px;
	margin-bottom: 5px;
	text-transform: capitalize;
	font-weight: bold;

}

.planteAccueil div p span{
	padding-left: 20px;
	font-weight: normal;
}

.planteAccueil .hexagone2{
	margin: auto;
	background-color: #010620 !important;
}

.planteAccueil .hexagone2 span{
		z-index: 2;
		color: white !important;
}
.planteAccueil:hover{
	transition: all 0.15s ease-in-out;
	transform: scale(1.1);
}
.planteAccueil img{
	width: 100%;
	justify-content: flex-end;

}
.planteAccueil p{
	display: inline;
	color: #010620;
	font-size: 1.2em;
	padding: 10px;
}

.plantWrapper{
	text-align: center;
	overflow: hidden;
	height: 31%;
	display: flex;
	align-items: flex-end;
}
.ensavoir{
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 10px;
		background-color: white;
		text-decoration: none;
		color: white;
		;
		background-color: #010620;

}

.ensavoir:hover{
	background-color: #212640;
}


.rangement ul{
	padding-left: 50px;
}

.rangement h2{
	font-weight: 500;
}
@media screen and (min-width: 1260px) {
	.mySlides img{
			width: 100%;
		}


}


@media screen and (min-width: 801px) and (max-width: 1300px) {
		body{
			width: 100%;
		}

		.miniatures a{
			width: 23%;
			height: 175px;
		}

		.sticky{
			width:100%;
			position: fixed !important;
		}


}

@media screen and (min-width:500px) and (max-width:800px) {
	.planteAccueil{
		width: 40% !important;
		margin: 10px;
	}
	.plantWrapper{
		height: 31% !important;
	}

	.planteAccueil:first-child{
		flex-basis: 100%;
	}

	.planteAccueil:first-child .plantWrapper{
		height: 50% !important;
	}

	.plantesAccueil{
		flex-direction: row !important;
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 800px) {
		body{
			width: 100%;
		}

		#content{
			box-sizing: border-box;
			padding-left: 0;
			width: 100%;
		}
		.sticky{
			width:100%;
			position: fixed !important;
		}

		#sidePan{
			display: none;
		}
		.plantesAccueil{
			flex-direction: column;
			align-items: center;
		}
		.planteAccueil{
			width: 95%;
			margin: auto;
			margin: 20px;
			min-height: 450px;
		}

		.plantWrapper{
			height: 50%;
		}


		#top-nav a {
			border-bottom: 1px solid white;
			width: 100%;
			text-align: center;
			font-size: 1.5em;
		}
		#top-nav a:hover {
			border-bottom: 1px solid white;
		}

		.visible{
			display:flex !important;
		}

		.invisible{
			display: none !important;
		}

		.menu{
			position: relative;
		}

		.wrapperMenu{
			background-image: url(../images/nav.png);
			background-repeat: no-repeat;
			width: 50px;
			height: 50px !important;
			margin: 5px;
			margin-top: 20px;
			background-color: transparent !important;
			position: static;
		}

		#top-nav{
			right: 0;
			left: 0;
			top: 40px;
			height: 1000px;
			position: absolute;
    	flex-direction: column;
    	justify-content: flex-start;
			background-color: #010620;
			margin: 0;
			z-index: 15;
			width: 70%;
			display: none;

		}


		.menu{
			width:100%;
			height: 50px;
			background-color: #010620;
			display: flex;
			align-items: center;
			z-index: 5;
		}

		.menu li{
			font-size: 1em;
			text-align: left;
			padding-left: 20px;
		}
		#titreSite{
			display: none;
		}

		#titreSiteAlternatif{
			display: block;
		}

		#titreSiteAlternatif:hover{
			border-bottom: 3px solid #010620;
		}

		#message,#messages{
			width: 90%;
		}
		#message input[type="submit"]{
			width: auto;
		}

		#message input[type="text"]{
			width:75%;
		}

		.searchbar-help{
			width: auto;
			font-size: 2em;
		}
		#searchbar form input[type="text"]{
			margin: auto;
			width: 100%;
		}

		.miniatures{
			width:92%;
			margin: auto;
		}

		.miniatures a{
			box-sizing: border-box;
			width: 30%;
			font-size: 0.9em;
		}
		.content{
			height: 50px;
		}

		.pages{
			width: auto;
		}

		#ficheDetail{
			width: 100%;
			box-sizing: border-box;
			border: 0px;
			padding-left:0px;
			padding-right: 0px;
		}

		legend{
			width:100%;
			margin: 0px;
			padding: 0px;
			margin: auto;

		}

		.legend{
			display: block;
			width: 100%;
			padding: 0px;
		}


		.hexagon{
			margin: auto;
			margin-top: 50px;
			margin-bottom: 70px;

		}

		.NomsPlante H1, .NomsPlante H3, .NomsPlante{
			text-align: center;
			margin-bottom: 20px;
			float: none;

		}

		.resum{

			padding: 20px;
			text-align: justify;
		}

		.caracDescri{
			padding-left: 20px;
		}

	.plantBtn{
		margin: auto;
		width: 80%;
	}
		.plantBtn input{
			font-size: 1.5em !important;
			width: 40%;

		}


}


@media screen and (max-width: 500px) {
	.miniatures {
		display: block;
		margin: auto;
		width: 80%;
	}

	.miniatures a {
		width: 80%;
		height: 30%;
	}

	.wrapperMiniature{
		width: 80%;
		margin: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	#titreSiteAlternatif h1{
		font-size: 24px;
	}

	#slider{

		height: 200px;

	}

	.caracs{
		margin: auto;
		flex-wrap: wrap;
		justify-content: center;
		width: 80%;
	}


	.hexagone2 {
		margin: auto 20px 80px 20px; qqq
	}

	.plantWrapper{
		height: 50% !important;
	}



}
